registry = http://artifactory.f5.cnqd.cnamts.fr:80/artifactory/api/npm/npm-virtual 
https-proxy = null 
proxy = http://artifactory.f5.cnqd.cnamts.fr/artifactory/api/npm/npm-virtual 
engine-strict=true 
strict-ssl=false 
