registry "http://artifactory.f5.cnqd.cnamts.fr:80/artifactory/api/npm/npm-virtual"
proxy "http://artifactory.f5.cnqd.cnamts.fr:80/artifactory/api/npm/npm-virtual"
https-proxy "null"
strict-ssl "false"

